---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero.astro";
---

<Layout title="Markville Dev-Hack Club">
    <nav class="bg-black w-full h-20">
    </nav>
    <main>
        <Hero/>
    </main>
</Layout>