---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
import hackClubFlag from "../assets/logos/flag-orpheus-top.png";
---

<Layout title="Markville Dev-Hack Club">
    <main>
        <Hero/>
    </main>
</Layout>