---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero.astro";
import About from "../components/About.svelte";
import ClubFeatures from "../components/ClubFeatures.svelte";
import Workshops from "../components/Workshops.svelte";
import Info from "../components/Info.svelte";

---

<Layout title="Markville Dev/Hack Club">
    <main>
        <Hero/>
        <About client:load/>
        <ClubFeatures client:load/>
        <Workshops client:load/>
        <Info client:load/>
    </main>
</Layout>