---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Hero from "../components/Hero.astro";
import  About from "../components/About.astro";
---

<Layout title="Markville Dev-Hack Club">
    <main>
        <div class="absolute w-full h-[200vh] bg-[#070808] -z-40"/>
        <Hero/>
        <About client:load/>
    </main>
</Layout>