---
import { Image } from "astro:assets";
import hackClubLogo from "../assets/logos/hack-club-anime.png";
import markvilleLogo from "../assets/logos/markville-anime.png";
---

<div class="flex flex-col items-center">
    <Image src={markvilleLogo} class="max-w-[35vw]" alt="Hack Club Anime Logo"/>
    <Image src={hackClubLogo} class="max-w-[20vw]" alt="Hack Club Anime Logo"/>
</div>