---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<nav class="bg-black w-full h-20">
</nav>
<slot/>
</body>
</html>
<style is:global>
    html, main {
        @apply text-white;
        background: #202926;
    }

    :root {
        --accent: #33c5b2;
        --accent-light: #33d9a1;
        --accent-dark: #e76bc1;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }

    code {
        font-family: Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
</style>
